@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Terrabyte";
  src: url("/fonts/Terrabyte-Regular.otf");
}

html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  font-family: "Terrabyte", sans-serif;
  color: rgb(255,255,255, 0.7);
}
h2 {
  color: rgb(255,255,255, 0.7);
}
* {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  color: #ffff;
}

